<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - Digital Lab BlockChain : Smart Contract Demo</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</head>


<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Digital Lab: Blockchain Smart Contract Demo</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Help</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">


    <div class="row">


        <div class="col-md-2 d-none addmember d-md-block bg-light sidebar pt-5">
            <h2> Test Transactions </h2>
            <hr>
            <h4>API/CURL </h4>
            <div class="row">
                <div class="col-md-12">
                    $ curl -H "Content-Type: application/json" --request POST -d '{"waybill":"9874551296", "updated_at": "2018-07-01 11:40 AM GMT", "location":"Banglore, India", "status":"In Transit", "notes":"Waiting for Custom Clearance"}'
                    http://localhost:5000/bc/shipment
                </div>

            </div>

            <hr>

            <form method="post" action="/add" class="pt-5 bg-white p-3">

                <h4>Web Form </h4>
                <hr>

                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="name">WayBill No: </label>
                    {{ form.waybill }}
                </div>
                <div class="form-group">
                    <label for="email">Location: </label>
                    {{ form.location }}
                </div>

                <div class="form-group">
                    <label for="gender">Status: </label>
                    {{ form.status }}
                </div>

                <div class="form-group">
                    <label for="gender">Notes: </label>
                    {{ form.notes }}
                </div>


                <button type="submit" class="btn btn-dark">Add into Blockchain</button>
            </form>


        </div>


        <main role="main" class="col-md-9 p-8 offset-8 ml-sm-auto col-lg-10 pt-5 px-5">
{#            <div class="row justify-content-center pt-5">#}
{#                <div class="col-12 col-md-10 col-lg-8">#}
{#                    <form class="card card-sm">#}
{#                        <div class="card-body row no-gutters align-items-center">#}
{#                            <div class="col-auto">#}
{#                                <i class="fas fa-search h4 text-body"></i>#}
{#                            </div>#}
{#                            <!--end of col-->#}
{#                            <div class="col">#}
{#                                <input class="form-control form-control-lg form-control-borderless" type="search"#}
{#                                       placeholder="Search AWB no or BLOCK#">#}
{#                            </div>#}
{#                            <!--end of col-->#}
{#                            <div class="col-auto">#}
{#                                <button class="btn btn-lg btn-success" type="submit">Search</button>#}
{#                            </div>#}
{#                            <!--end of col-->#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#                <!--end of col-->#}
{#            </div>#}
{#            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">#}
{##}
{#                <div class="btn-toolbar mb-2 mb-md-0">#}
{#                    <div class="btn-group mr-2">#}
{#                        <button class="btn btn-sm btn-outline-secondary">Transactions {{ trns|length }} </button>#}
{#                        <button class="btn btn-sm btn-outline-secondary">Total Available#}
{#                            Blocks: {{ total_blocks }} </button>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}

            {% include "parts/blocks-home.html" %}
        </main>
    </div>
</div>
</body>
</html>
